<!-- if User has no accounts then redirect to accounts page -->
<div class="page-header">
  <h1>Player Search</h1>
</div>

<!-- Future versions will have more search options such as position, team, and first name -->

 <form action="/search/results" method="get" class="form-inline">
    <div class="form-group">
      <label for="lastNameInput">Last Name:</label>
      <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Enter last name">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

<hr>
