<h1>Player Search</h1>

<!-- Future versions will have more search options such as position, team, and first name -->

<form action="/search/results" method="get" class="form-inline">
  <div class="form-group">
    <label for="lastNameInput">Last Name:</label>
    <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<table>
  <% @resultsAll.each do |league| %>
  <% @i=0  %>
  <% while @i<league{:n} %>
  <tr>
    <td><%= league{:platform} %></td>
    <td><%= league{:leagueName} %></td>
    <td><%= league{:resultsPlayers}[i] %></td>
    <td><%= league{:resultsAvail}[i] %></td>
  </tr>
  <% @i=@i+1 %>
  <% end %>
  <% end %>
</table>
